@inject Microsoft.Extensions.Localization.IStringLocalizer<MultiplosIdiomas.Resources.Resources> globalizacao

<div class="text-center">
    <h1 class="display-4">@globalizacao["BemVindo"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
